:root {
  --aleph-green: #12e4a6;
  --aleph-blue: #00b4f6;
  --aleph-nearblack: #060b0d;
  --aleph-darkgrey: #2e3233;
  --aleph-lightgrey: #d4e1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--aleph-nearblack);
}

p {
  color: var(--aleph-lightgrey);
}

.pane {
  position: absolute;
  display: inline-block;
  background-color: var(--aleph-darkgrey);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.move-handle {
  position: relative;
  background-color: var(--aleph-blue);
}
